
<footer>
    <div class="footer__area theme-bg-1">
        <div class="container">
            <div class="footer__main-1">
                    <div class="row gy-50">
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5 col-sm-12">
                            <div class="footer__widget-1-1">
                                <div class="footer__logo mb-30">
                                    <a href="index.html">
                                        <img src="assets/imgs/logo/logo-black.svg" alt="image bnot found">
                                    </a>
                                </div>
                                <div class="footer__content">
                                    <p>Lorem ipsum dolor sit am oledop consectetur adipiscing elit Ut et massa mi. Aliquam</p>
                                    <div class="footer__social">
                                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4">
                            <div class="footer__widget-1-2">
                                <div class="footer__widget-title">
                                    <h5>Products</h5>
                                </div>
                                <div class="footer__link">
                                    <ul>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Terms</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Upcoming</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-4">
                            <div class="footer__widget-1-3">
                                <div class="footer__widget-title">
                                    <h5>Company</h5>
                                </div>
                                <div class="footer__link">
                                    <ul>
                                        <li><a href="#">Invoicing</a></li>
                                        <li><a href="#">Office Hours</a></li>
                                        <li><a href="#">Explore More</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-5 col-sm-4">
                            <div class="footer__widget-1-4">
                                <div class="footer__widget-title">
                                    <h5>Resources</h5>
                                </div>
                                <div class="footer__link">
                                    <ul>
                                        <li><a href="#">SaaS</a></li>
                                        <li><a href="#">Online Business</a></li>
                                        <li><a href="#">Creators</a></li>
                                        <li><a href="#">Tutorials</a></li>
                                        <li><a href="#">Agencies</a></li>
                                        <li><a href="#">Secure</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="footer__widget-1-5 justify-content-lg-end">
                                <div class="footer__widget-title">
                                    <h5>Download App</h5>
                                </div>
                                <div class="footer__app">
                                    <a class="footer__app-item" href="#">
                                        <img src="assets/imgs/app/paly-store-dark.png" alt="image not found">
                                    </a>
                                    <a class="footer__app-item" href="#">
                                        <img src="assets/imgs/app/apple-store-dark.png" alt="image not found">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div></div>
            <div class="row">
                    <div class="col-12">
                        <div class="footer__bottom">
                            <div class="footer__copyright">
                                <p>Copyright © 2023 <a href="#">Finwise</a></p>
                            </div>
                            <div class="footer__conditions">
                                <ul>
                                    <li><a href="privacy-policy-light.html">Privacy Policy</a></li>
                                    <li><a href="contact-light.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

