 <!-- Backtotop start -->
    <div class="backtotop-wrap cursor-pointer">
        <svg class="backtotop-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Backtotop end -->

    <!-- Offcanvas area start -->
    <div class="fix">
        <div class="offcanvas__area">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top d-flex justify-content-between align-items-center">
                        <div class="offcanvas__logo">
                            <a href="index.html">
                                <img src="assets/imgs/logo/logo-white.svg" alt="logo not found">
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button class="offcanvas-close-icon animation--flip">
                                <span class="offcanvas-m-lines">
                              <span class="offcanvas-m-line line--1"></span><span class="offcanvas-m-line line--2"></span><span class="offcanvas-m-line line--3"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="mobile-menu fix"></div>
                    <div class="offcanvas__social">
                        <h3 class="offcanvas__title mb-20">Subscribe & Follow</h3>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="offcanvas__btn">
                        <div class="header__btn-wrap">
                            <a class="sub__btn sm" href="login-light.html">Log In</a>
                            <a class="bd-gradient-btn" href="contact-light.html">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__overlay"></div>
    <div class="offcanvas__overlay-white"></div>
    <!-- Offcanvas area start -->

    <!-- Header area start -->
    <header>
        <div id="header-sticky" class="header__area">
            <div class="container">
                <div class="mega__menu-wrapper p-relative">
                    <div class="header__main">
                        <div class="header__left">
                            <div class="header__logo">
                                <a href="index.html">
                                    <img src="assets/imgs/logo/logo-black.svg" alt="logo not found">
                                </a>
                            </div>
                        </div>
                        <div class="header__middle">
                            <div class="mean__menu-wrapper d-none d-lg-block">
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li class="has-dropdown has-mega-menu">
                                                <a href="javascript:void(0)">Demos</a>
                                                <ul class="mega-menu">
                                                    <li>
                                                        <div class="home__menu-grid">
                                                            <div class="home__menu-item">
                                                                <div class="home__menu-thumb">
                                                                    <img src="assets/imgs/menu/menu-home-1.jpg" alt="thumb not found">
                                                                    <div class="home__menu__buttons">
                                                                        <a class="bd-gradient-btn" href="online-banking.html">MULTI PAGE</a>
                                                                        <a class="bd-gradient-btn" href="online-banking-one-page.html">ONE PAGE</a>
                                                                    </div>
                                                                </div>
                                                                <h4 class="home__menu-title">Online Banking</h4>
                                                            </div>
                                                            <div class="home__menu-item">
                                                                <div class="home__menu-thumb">
                                                                    <img src="assets/imgs/menu/menu-home-2.jpg" alt="thumb not found">
                                                                    <div class="home__menu__buttons">
                                                                        <a class="bd-gradient-btn" href="investment-management.html">MULTI PAGE</a>
                                                                        <a class="bd-gradient-btn" href="investment-management-one-page.html">ONE PAGE</a>
                                                                    </div>
                                                                </div>
                                                                <h4 class="home__menu-title">Investment Management</h4>
                                                            </div>
                                                            <div class="home__menu-item">
                                                                <div class="home__menu-thumb">
                                                                    <img src="assets/imgs/menu/menu-home-3.jpg" alt="thumb not found">
                                                                    <div class="home__menu__buttons">
                                                                        <a class="bd-gradient-btn" href="personal-loan.html">MULTI PAGE</a>
                                                                        <a class="bd-gradient-btn" href="personal-loan-one-page.html">ONE PAGE</a>
                                                                    </div>
                                                                </div>
                                                                <h4 class="home__menu-title">Personal Loan</h4>
                                                            </div>
                                                            <div class="home__menu-item">
                                                                <div class="home__menu-thumb">
                                                                    <img src="assets/imgs/menu/menu-home-4.jpg" alt="thumb not found">
                                                                    <div class="home__menu__buttons">
                                                                        <a class="bd-gradient-btn" href="insurance.html">MULTI PAGE</a>
                                                                        <a class="bd-gradient-btn" href="insurance-one-page.html">ONE PAGE</a>
                                                                    </div>
                                                                </div>
                                                                <h4 class="home__menu-title">Insurance</h4>
                                                            </div>
                                                            <div class="home__menu-item">
                                                                <div class="home__menu-thumb">
                                                                    <img src="assets/imgs/menu/menu-home-5.jpg" alt="thumb not found">
                                                                    <div class="home__menu__buttons">
                                                                        <a class="bd-gradient-btn" href="wealth-management.html">MULTI PAGE</a>
                                                                        <a class="bd-gradient-btn" href="wealth-management-one-page.html">ONE PAGE</a>
                                                                    </div>
                                                                </div>
                                                                <h4 class="home__menu-title">Wealth Managment</h4>
                                                            </div>
                                                            <div class="home__menu-item">
                                                                <div class="home__menu-thumb">
                                                                    <img src="assets/imgs/menu/menu-home-6.jpg" alt="thumb not found">
                                                                    <div class="home__menu__buttons">
                                                                        <a class="bd-gradient-btn" href="payment-solution.html">MULTI PAGE</a>
                                                                        <a class="bd-gradient-btn" href="payment-solution-one-page.html">ONE PAGE</a>
                                                                    </div>
                                                                </div>
                                                                <h4 class="home__menu-title">Payment Solution</h4>
                                                            </div>
                                                            <div class="home__menu-item">
                                                                <div class="home__menu-thumb">
                                                                    <img src="assets/imgs/menu/menu-home-7.jpg" alt="thumb not found">
                                                                    <div class="home__menu__buttons">
                                                                        <a class="bd-gradient-btn" href="forex-trading.html">MULTI PAGE</a>
                                                                        <a class="bd-gradient-btn" href="forex-trading-one-page.html">ONE PAGE</a>
                                                                    </div>
                                                                </div>
                                                                <h4 class="home__menu-title">Forex Trading</h4>
                                                            </div>
                                                            <div class="home__menu-item">
                                                                <div class="home__menu-thumb">
                                                                    <img src="assets/imgs/menu/menu-home-8.jpg" alt="thumb not found">
                                                                    <div class="home__menu__buttons">
                                                                        <a class="bd-gradient-btn" href="retirement-planning.html">MULTI PAGE</a>
                                                                        <a class="bd-gradient-btn" href="retirement-planning-one-page.html">ONE PAGE</a>
                                                                    </div>
                                                                </div>
                                                                <h4 class="home__menu-title">Retirement Planning</h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown has-mega-menu">
                                                <a href="javascript:void(0)">Pages</a>
                                                <ul class="mega-menu mega-menu-grid-4">
                                                    <li>
                                                        <a href="javasript:void(0);" class="mega-menu-title">Home Dark</a>
                                                        <ul>
                                                            <li><a href="online-banking.html">Online Banking</a></li>
                                                            <li><a href="investment-management.html">Investment Management</a></li>
                                                            <li><a href="personal-loan.html">Personal Loan</a></li>
                                                            <li><a href="insurance.html">Insurance</a></li>
                                                            <li><a href="wealth-management.html">Wealth Managment</a></li>
                                                            <li><a href="payment-solution.html">Payment Solution</a></li>
                                                            <li><a href="forex-trading.html">Forex Trading</a></li>
                                                            <li><a href="retirement-planning.html">Retirement Planning</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="javasript:void(0);" class="mega-menu-title">Home Light</a>
                                                        <ul>
                                                            <li><a href="online-banking-light.html">Online Banking</a></li>
                                                            <li><a href="investment-management-light.html">Investment Management</a></li>
                                                            <li><a href="personal-loan-light.html">Personal Loan</a></li>
                                                            <li><a href="insurance-light.html">Insurance</a></li>
                                                            <li><a href="wealth-management-light.html">Wealth Managment</a></li>
                                                            <li><a href="payment-solution-light.html">Payment Solution</a></li>
                                                            <li><a href="forex-trading-light.html">Forex Trading</a></li>
                                                            <li><a href="retirement-planning-light.html">Retirement Planning</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="javasript:void(0);" class="mega-menu-title">Page dark</a>
                                                        <ul>
                                                            <li><a href="about.html">About Us</a></li>
                                                            <li><a href="services.html">Services</a></li>
                                                            <li><a href="service-details.html">Services Details</a></li>
                                                            <li><a href="pricing.html">Pricing</a></li>
                                                            <li><a href="blog.html">Blog</a></li>
                                                            <li><a href="blog-details.html">Blog Details</a></li>
                                                            <li><a href="error-page.html">Error Page</a></li>
                                                            <li><a href="login.html">Login</a></li>
                                                            <li><a href="register.html">Register</a></li>
                                                            <li><a href="forgot.html">Forgot Password</a></li>
                                                            <li><a href="privacy-policy.html">Privacy & Policy</a></li>
                                                            <li><a href="contact.html">Contact</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="javasript:void(0);" class="mega-menu-title">Page Light</a>
                                                        <ul>
                                                            <li><a href="about-light.html">About Us</a></li>
                                                            <li><a href="services-light.html">Services</a></li>
                                                            <li><a href="service-details-light.html">Services Details</a></li>
                                                            <li><a href="pricing-light.html">Pricing</a></li>
                                                            <li><a href="blog-light.html">Blog</a></li>
                                                            <li><a href="blog-details-light.html">Blog Details</a></li>
                                                            <li><a href="error-page-light.html">Error Page</a></li>
                                                            <li><a href="login-light.html">Login</a></li>
                                                            <li><a href="register-light.html">Register</a></li>
                                                            <li><a href="forgot-light.html">Forgot Password</a></li>
                                                            <li><a href="privacy-policy-light.html">Privacy & Policy</a></li>
                                                            <li><a href="contact-light.html">Contact</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-dropdown has-mega-menu">
                                                <a href="javascript:void(0)">elements</a>
                                                <ul class="mega-menu mega-menu-grid-3">
                                                    <li>
                                                        <a href="javasript:void(0);" class="mega-menu-title">elements Layout 1</a>
                                                        <ul>
                                                            <li><a href="style-guide.html">Style Guide</a></li>
                                                            <li><a href="elements-about.html">About Us</a></li>
                                                            <li><a href="elements-accordion.html">Accordion</a></li>
                                                            <li><a href="elements-advancetab.html">Advance Tab</a></li>
                                                            <li><a href="elements-brand.html">Brand</a></li>
                                                            <li><a href="elements-button.html">Button</a></li>
                                                            <li><a href="elements-team.html">Team</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="javasript:void(0);" class="mega-menu-title">elements Layout 2</a>
                                                        <ul>
                                                            <li><a href="elements-pricing.html">pricing</a></li>
                                                            <li><a href="elements-why-chose.html">why chose us</a></li>
                                                            <li><a href="elements-working-steps.html">Working steps</a></li>
                                                            <li><a href="elements-feedback.html">feedback</a></li>
                                                            <li><a href="elements-service.html">service</a></li>
                                                            <li><a href="elements-counter.html">counter</a></li>
                                                            <li><a href="elements-case.html">Use case</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="javasript:void(0);" class="mega-menu-title">elements Layout 3</a>
                                                        <ul>
                                                            <li><a href="elements-benefits.html">benefits</a></li>
                                                            <li><a href="elements-cta.html">Call To Action</a></li>
                                                            <li><a href="elements-our-offers.html">our Offers</a></li>
                                                            <li><a href="elements-features.html">Key features</a></li>
                                                            <li><a href="elements-form.html">form</a></li>
                                                            <li><a href="elements-footer.html">Footer Style</a></li>
                                                            <li><a href="#">More Coming</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="contact.html">Contact</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="header__right">
                            <div class="header__action d-flex align-items-center">
                                <div class="header__btn-wrap d-none d-xl-inline-flex">
                                    <a class="sub__btn" href="login-light.html">Log In</a>
                                    <a class="bd-gradient-btn" href="contact-light.html">Get Started</a>
                                </div>
                                <div class="header__hamburger ml-20 d-xl-none">
                                    <div class="sidebar__toggle">
                                        <a class="bar-icon" href="avascript:void(0)">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </a>
                                    </div>
                                </div>
                                <!-- for wp -->
                                <div class="header__hamburger ml-20 d-none">
                                    <button type="button" class="hamburger-btn offcanvas-open-btn">
                                        <span>01</span>
                                        <span>01</span>
                                        <span>01</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header area end -->
