<app-header/>
    <!-- Body glow start -->
    <div class="glow__area">
        <div class="body__color-glow"></div>
        <div class="body__color-glow glow-2"></div>
    </div>
    <!-- Body glow end -->
    <!-- Body main wrapper start -->
    <main>
        <!-- Banner area start -->
        <section class="banner__area theme-bg-1 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-12 col-xl-8 col-lg-10">
                        <div class="banner__content-wrapper text-center p-relative z-index-11">
                            <div class="banner__content wow fadeIn" data-wow-delay=".3s">
                                <span class="banner__sbutitle uppercase">Explore finwise now</span>
                                <h2>Manage Your <span class="gradient-text-1">Finance</span> with Finwise.</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et mass mi. Aliquam in hendrerit urna.</p>
                                <a class="bd-gradient-btn" href="contact-light.html">Get Started<span><i class="fa-regular fa-angle-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner__thumb-box p-relative z-index-1 wow fadeIn" data-wow-delay=".5s">
                <div class="banner__glow">
                    <div class="glow-1"></div>
                    <div class="glow-2"></div>
                </div>
                <div class="container">
                    <div class="banner__thumb">
                        <img src="assets/imgs/banner/banner-01.webp" alt="image not found">
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner area end -->

        <!-- why choose area start -->
        <section class="why__choose-area theme-bg-1 section-space">
            <div class="container">
                <div class="row gy-5 align-items-end section__title-space">
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="section__title-wrapper">
                            <span class="section__subtitle uppercase mb-20">why choose us</span>
                            <h2 class="section__title mb-20">Complete Financial</h2>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="btn-wrapper d-flex justify-content-lg-end">
                            <a class="bd-gradient-btn" href="about-light.html">Know More<span><i class="fa-regular fa-angle-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="swiper common__carousel-active">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="why__choose-item wow fadeIn" data-wow-delay=".3s">
                                        <div class="why-choose__content">
                                            <div class="why__choose-icon">
                                                <span><img src="assets/imgs/why-choose/why-choose-01.png" alt="image not found"></span>
                                                <h3><a href="#">Securely deposit</a></h3>
                                                <p>Banks is typically ge revenue by the charging interest in loansAliquiam in hendrerit urna amlet.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="why__choose-item is-brick-red wow fadeIn" data-wow-delay=".5s">
                                        <div class="why-choose__content">
                                            <div class="why__choose-icon">
                                                <span><img src="assets/imgs/why-choose/why-choose-02.png" alt="image not found"></span>
                                                <h3><a href="#">Banking Security</a></h3>
                                                <p>Banks is typically ge revenue by the charging interest in loansAliquiam in hendrerit urna amlet.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="why__choose-item is-mainly-blue wow fadeIn" data-wow-delay=".7s">
                                        <div class="why-choose__content">
                                            <div class="why__choose-icon">
                                                <span><img src="assets/imgs/why-choose/why-choose-03.png" alt="image not found"></span>
                                                <h3><a href="#">Best support</a></h3>
                                                <p>Banks is typically ge revenue by the charging interest in loansAliquiam in hendrerit urna amlet.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="pagination__wrappper">
                                <div class="bd-swiper-dot text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- why choose area end -->

        <!-- Features area start -->
        <section class="features__area features-bg section-space-top">
            <div class="container">
                <div class="row section__title-space justify-content-center">
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="section__title-wrapper is-black text-center wow fadeInUp" data-wow-delay=".3s">
                            <span class="section__subtitle uppercase mb-20">Our Features</span>
                            <h2 class="section__title mb-20">Best Online Banking</h2>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="features__box">
                            <div class="features__active">
                                <div class="features__box-inner">
                                    <div class="row align-items-center gy-50">
                                        <div class="col-xxl-6 col-xl- col-lg-6">
                                            <div class="features__thumb">
                                                <img src="assets/imgs/features/features-thumb-01.png" alt="image not found">
                                            </div>
                                        </div>
                                        <div class="col-xxl-6 col-xl- col-lg-6">
                                            <div class="features__content">
                                                <h2>1</h2>
                                                <h3>Account Access</h3>
                                                <p>Create instant, scheduled and recurrEng payments easily Banks typically grevenu by the charging interest in loansAliquIam in hendrerit urna.</p>
                                                <a class="text__link" href="about-light.html">Explore More<span><i class="fa-regular fa-angle-right"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="features__box-inner">
                                    <div class="row align-items-center gy-50">
                                        <div class="col-xxl-6 col-xl- col-lg-6">
                                            <div class="features__thumb">
                                                <img src="assets/imgs/features/features-thumb-02.png" alt="image not found">
                                            </div>
                                        </div>
                                        <div class="col-xxl-6 col-xl- col-lg-6">
                                            <div class="features__content">
                                                <h2>2</h2>
                                                <h3>Fund Transfers</h3>
                                                <p>Create instant, scheduled and recurrEng payments easily Banks typically grevenu by the charging interest in loansAliquIam in hendrerit urna..</p>
                                                <a class="text__link" href="about-light.html">Explore More<span><i class="fa-regular fa-angle-right"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="features__box-inner">
                                    <div class="row align-items-center gy-50">
                                        <div class="col-xxl-6 col-xl- col-lg-6">
                                            <div class="features__thumb">
                                                <img src="assets/imgs/features/features-thumb-03.png" alt="image not found">
                                            </div>
                                        </div>
                                        <div class="col-xxl-6 col-xl- col-lg-6">
                                            <div class="features__content">
                                                <h2>3</h2>
                                                <h3>Bill Payment</h3>
                                                <p>Create instant, scheduled and recurrEng payments easily Banks typically grevenu by the charging interest in loansAliquIam in hendrerit urna..</p>
                                                <a class="text__link" href="about-light.html">Explore More<span><i class="fa-regular fa-angle-right"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Features area end -->

        <!-- Benefits area start -->
        <section class="benefits__area o-xs section-space">
            <div class="container">
                <div class="row gy-50 align-items-center">
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="benefits__content-wrapper wow fadeInLeft animated" data-wow-delay="0.3s">
                            <div class="section__title-wrapper mb-35">
                                <span class="section__subtitle uppercase mb-20">Your benefits</span>
                                <h2 class="section__title mb-20">Power your business potential Now!</h2>
                                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut massa mi. Aliquam in hendrerit urna.</p>
                            </div>
                            <div class="benefits__info-wrapper mb-50">
                                <div class="benefits__info">
                                    <div class="benefits__info-icon">
                                        <span><img src="assets/imgs/benefits/benefit-01.png" alt="image not found"></span>
                                    </div>
                                    <div class="benefits__info-content">
                                        <p>95k+ People Open their account</p>
                                    </div>
                                </div>
                                <div class="benefits__info">
                                    <div class="benefits__info-icon">
                                        <span><img src="assets/imgs/benefits/benefit-02.png" alt="image not found"></span>
                                    </div>
                                    <div class="benefits__info-content">
                                        <p>$10B+ Payment Process Yearly.</p>
                                    </div>
                                </div>
                            </div>
                            <a class="bd-gradient-btn" href="about-light.html">Know More<span><i class="fa-regular fa-angle-right"></i></span></a>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="benefits__thumb  wow  fadeInRight animated" data-wow-delay="0.3s">
                            <img src="assets/imgs/benefits/benefit-thumb.webp" alt="image not found">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Benefits area end -->

        <!-- Section devider -->
        <div class="section__devider">
            <div class="container">
                <hr>
            </div>
        </div>

        <!-- Transaction area start -->
        <section class="transaction__area section-space">
            <div class="container">
                <div class="row gy-50 align-items-center wow fadeInUp" data-wow-delay=".5s">
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="transaction__thumb">
                            <img src="assets/imgs/transaction/iphone.png" alt="image not found">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="transaction__content">
                            <div class="section__title-wrapper mb-35">
                                <span class="section__subtitle uppercase mb-20">Secure Transaction</span>
                                <h2 class="section__title mb-20">Take Extra-Secure Transactions</h2>
                                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut massa mi. Aliquam in hendrerit urna. Pellentesque sit am sapi fringilla, mattis ligula consectetur.</p>
                            </div>
                            <div class="btn__wrapper">
                                <a class="bd-gradient-btn" href="contact-light.html">Know More<span><i class="fa-regular fa-angle-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Transaction area end -->

        <!-- Testimonial area start -->
        <section class="testimonial__area theme-bg-1 section-space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-5 col-xl-6 col-lg-6">
                        <div class="section__title-wrapper text-center section__title-space">
                            <span class="section__subtitle uppercase mb-20">Testimonials</span>
                            <h2 class="section__title mb-20">Our User Testimonial</h2>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit.</p>
                        </div>
                    </div>
                </div>
                <div class="row wow fadeInUp" data-wow-delay=".3s">
                    <div class="col-xxl-12">
                        <div class="swiper testimonial__active">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonial__grid">
                                        <div class="testimonial__item">
                                            <div class="testimonial__contenent">
                                                <div class="testimonial__qote mb-40">
                                                    <span>
                                             <svg width="94" height="72" viewBox="0 0 94 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.1" d="M8.39995 65.6249C3.14995 59.8499 -5.18453e-05 53.5499 -5.09273e-05 43.0499C-4.93209e-05 24.6749 13.125 8.3999 31.5 -9.69686e-05L36.225 6.82489C18.9 16.2749 15.2249 28.3499 14.1749 36.2249C16.7999 34.6499 20.475 34.1249 24.15 34.6499C33.6 35.6999 40.9499 43.0499 40.9499 53.0249C40.9499 57.7499 38.8499 62.4749 35.6999 66.1499C32.0249 69.8249 27.8249 71.3999 22.5749 71.3999C16.7999 71.3999 11.5499 68.7749 8.39995 65.6249ZM60.8999 65.6249C55.6499 59.8499 52.5 53.5499 52.5 43.0499C52.5 24.6749 65.625 8.3999 84 -9.23789e-05L88.725 6.8249C71.4 16.2749 67.725 28.3499 66.675 36.2249C69.3 34.6499 72.975 34.1249 76.65 34.6499C86.1 35.6999 93.45 43.5749 93.45 53.0249C93.45 57.7499 91.35 62.4749 88.2 66.1499C84.525 69.8249 80.325 71.3999 75.0749 71.3999C69.2999 71.3999 64.0499 68.7749 60.8999 65.6249Z" fill="#060606"/>
                                             </svg>
                                          </span>
                                                </div>
                                                <p>The staff at Finwise Bank are very friendly and helpful and always call me by my first name when I walk in or come through the drive through. Great staff!</p>
                                                <div class="testimonial__meta-box">
                                                    <div class="feedback__avater">
                                                        <h3>Maral Arman</h3>
                                                        <span>Business man</span>
                                                    </div>
                                                    <div class="testimonial__reating">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="testimonial__thumb">
                                            <img src="assets/imgs/testimonial/testimonial-thumb.png" alt="image not found">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial__grid">
                                        <div class="testimonial__item">
                                            <div class="testimonial__contenent">
                                                <div class="testimonial__qote mb-45">
                                                    <span>
                                             <svg width="94" height="72" viewBox="0 0 94 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.1" d="M8.39995 65.6249C3.14995 59.8499 -5.18453e-05 53.5499 -5.09273e-05 43.0499C-4.93209e-05 24.6749 13.125 8.3999 31.5 -9.69686e-05L36.225 6.82489C18.9 16.2749 15.2249 28.3499 14.1749 36.2249C16.7999 34.6499 20.475 34.1249 24.15 34.6499C33.6 35.6999 40.9499 43.0499 40.9499 53.0249C40.9499 57.7499 38.8499 62.4749 35.6999 66.1499C32.0249 69.8249 27.8249 71.3999 22.5749 71.3999C16.7999 71.3999 11.5499 68.7749 8.39995 65.6249ZM60.8999 65.6249C55.6499 59.8499 52.5 53.5499 52.5 43.0499C52.5 24.6749 65.625 8.3999 84 -9.23789e-05L88.725 6.8249C71.4 16.2749 67.725 28.3499 66.675 36.2249C69.3 34.6499 72.975 34.1249 76.65 34.6499C86.1 35.6999 93.45 43.5749 93.45 53.0249C93.45 57.7499 91.35 62.4749 88.2 66.1499C84.525 69.8249 80.325 71.3999 75.0749 71.3999C69.2999 71.3999 64.0499 68.7749 60.8999 65.6249Z" fill="#060606"/>
                                             </svg>
                                          </span>
                                                </div>
                                                <p>The staff at Finwise Bank are very friendly and helpful and always call me by my first name when I walk in or come through the drive through. Great staff!</p>
                                                <div class="testimonial__meta-box">
                                                    <div class="feedback__avater">
                                                        <h3>Maral Arman</h3>
                                                        <span>Business man</span>
                                                    </div>
                                                    <div class="testimonial__reating">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="testimonial__thumb">
                                            <img src="assets/imgs/testimonial/testimonial-thumb.png" alt="image not found">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial__grid">
                                        <div class="testimonial__item">
                                            <div class="testimonial__contenent">
                                                <div class="testimonial__qote mb-45">
                                                    <span>
                                             <svg width="94" height="72" viewBox="0 0 94 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.1" d="M8.39995 65.6249C3.14995 59.8499 -5.18453e-05 53.5499 -5.09273e-05 43.0499C-4.93209e-05 24.6749 13.125 8.3999 31.5 -9.69686e-05L36.225 6.82489C18.9 16.2749 15.2249 28.3499 14.1749 36.2249C16.7999 34.6499 20.475 34.1249 24.15 34.6499C33.6 35.6999 40.9499 43.0499 40.9499 53.0249C40.9499 57.7499 38.8499 62.4749 35.6999 66.1499C32.0249 69.8249 27.8249 71.3999 22.5749 71.3999C16.7999 71.3999 11.5499 68.7749 8.39995 65.6249ZM60.8999 65.6249C55.6499 59.8499 52.5 53.5499 52.5 43.0499C52.5 24.6749 65.625 8.3999 84 -9.23789e-05L88.725 6.8249C71.4 16.2749 67.725 28.3499 66.675 36.2249C69.3 34.6499 72.975 34.1249 76.65 34.6499C86.1 35.6999 93.45 43.5749 93.45 53.0249C93.45 57.7499 91.35 62.4749 88.2 66.1499C84.525 69.8249 80.325 71.3999 75.0749 71.3999C69.2999 71.3999 64.0499 68.7749 60.8999 65.6249Z" fill="#060606"/>
                                             </svg>
                                          </span>
                                                </div>
                                                <p>The staff at Finwise Bank are very friendly and helpful and always call me by my first name when I walk in or come through the drive through. Great staff!</p>
                                                <div class="testimonial__meta-box">
                                                    <div class="feedback__avater">
                                                        <h3>Maral Arman</h3>
                                                        <span>Business man</span>
                                                    </div>
                                                    <div class="testimonial__reating">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="testimonial__thumb">
                                            <img src="assets/imgs/testimonial/testimonial-thumb.png" alt="image not found">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="pagination__wrappper">
                                <div class="bd-swiper-dot text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial area end -->

        <!-- FAQ area start -->
        <section class="faq__area section-space-top">
            <div class="container">
                <div class="row gy-50 wow fadeInUp" data-wow-delay=".3s">
                    <div class="col-xxl-5 col-xl-5 col-lg-6">
                        <div class="faq__content">
                            <div class="section__title-wrapper">
                                <span class="section__subtitle uppercase mb-20">Read faq</span>
                                <h2 class="section__title mb-20">Frequently Asked Questions</h2>
                                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisci elit Ut massa mi. Aliquam in hendrerit.</p>
                                <div class="btn__wrapper">
                                    <a class="bd-gradient-btn" href="contact-light.html">Know More<span><i class="fa-regular fa-angle-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-7 col-lg-6">
                        <div class="bd__faq">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            How do I create an account with Finwise?
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            How to send money online?
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Is my money safe with Finwise?
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            How to send money online?
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ area end -->

        <!-- Account open area start -->
        <section class="account__open-area p-relative">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="account__open-box bounceInUp" data-wow-delay=".8s">
                            <div class="bubble__1 wow fadeInup"></div>
                            <div class="bubble__2"></div>
                            <div class="bubble__3"></div>
                            <div class="row">
                                <div class="col-xxl-6 col-xl-6 col-lg-6">
                                    <div class="account__open-thumb">
                                        <img src="assets/imgs/bg/account-bg.png" alt="image not found">
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6">
                                    <div class="section__title-wrapper is-white">
                                        <h2 class="section__title mb-40">Let’s Get Started With Finwise!</h2>
                                        <a class="bd-gradient-btn-white" href="register-light.html">Open Account<span><i class="fa-regular fa-angle-right"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Account open area end -->

    </main>
    <!-- Body main wrapper end -->

<app-footer/>
